window#waybar {
    background-color: #101a20;
    color: #00ffc8;
    font-size: 12px;
    font-weight: bold;
    font-family: "FiraCode Nerd Font";
}

tooltip {
    font-family: "FiraCode Nerd Font";
    background-color: #101a20;
    font-size: 12px;
    border: 2px solid #132a33;
}

#workspaces, #tags {
    margin: 0;
}

#workspaces button, #tags button.occupied {
    margin: 0;
    padding: 0 4px;
    color: #00ffc8;
    border: 0;
    border-radius: 0;
}

#workspaces button:hover, #tags button:hover {
    background: inherit;
    color: #00ffc8;
    background-color: #132a33;
}

#workspaces button.empty, #tags button {
    color: #007769;
    margin: 0;
    padding: 0 4px;
    border: 0;
    border-radius: 0;
}

#workspaces button.focused, #tags button.focused {
    background-color: #132a33;
}

#workspaces button.active, #tags button.focused {
    box-shadow: inset 0 -4px #00ffc8;
}

#workspaces button.urgent, #tags button.urgent {
    color: orange;
}

#network {
    font-family: "Material Symbols Outlined";
    font-size: 14px;
}

#network.ethernet {
    margin-right: 4px;
}
